@import 'palette';
@import url('https://fonts.googleapis.com/css?family=Yellowtail|Work+Sans:400,500,600');

html, body {
  height: 100%;
}

#main {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

.wrapper h2 {
  font-size: 2em;
  font-weight: 600;
  color: $color-accent-1;
}

.wrapper h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ffffff;
}

.wrapper p {
  color: #333333;
}

.wrapper button {
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background: $color-accent-1;
  border: $color-accent-1;
  border-radius: 10px;
  padding: 1em 0;
  margin-top: 10px;
  cursor: pointer;
}

.wrapper button:hover {
  background: $color-accent-1-highlight;
  border: $color-accent-1-highlight;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.content-container {
  background: $background-accent;
  flex: 1;
}

header {
  width: 100%;
  height: auto;
  background-color: $primary-color;
  box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
}

.header-container {
  max-width: 1020px;
  height: 76px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  font-family: 'Yellowtail', cursive;
  text-transform: capitalize;
  font-size: 2.75em;
  color: #ffffff;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > svg {
  margin-right: 6px;
}

.header-nav-links {
  display: flex;
}

.header-nav-links > li {
  margin-right: 10px;
}

.header-nav-links > li:last-child {
  margin-right: 0;
}

.header-nav-links > li > * {
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 3px;
  padding: 14px;
}

.header-nav-links > li > *:hover,
.header-nav-links > li > *:focus,
.header-nav-links > li > *:active {
  background-color: #ffffff;
  color: $color-accent-1;
}

.home-container {
  max-width: 100%;
}

.home-splash {
  max-width: 100%;
  min-height: calc(100vh - 76px);
  background-image: linear-gradient(to bottom, $color-accent-2, $color-accent-2-fade),url(http://res.cloudinary.com/dmmcusgxy/image/upload/c_scale,h_1350,q_auto:eco/v1484463683/threepeople-livingroom-dogs_rclc0m.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-splash > span {
  padding: 20px 0 40px 0;
}

.home-splash button {
  background: $color-accent-3;
  border: $color-accent-3;
  padding: 16px 32px;
}

.home-splash button:hover,
.home-splash button:focus,
.home-splash button:active {
  background: $color-accent-3-highlight;
  border: $color-accent-3-highlight;
}

.home-splash > span {
  font-size: 1.125em;
  color: #ffffff;
}

footer {
  width: 100%;
  height: auto;
  background: $primary-color;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 40px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-links > li {
  padding-bottom: 10px;
}

.footer-links > li:first-child {
  padding-top: 6px;
}

.footer-links > li:last-child {
  padding-bottom: 0;
}

.footer-links > li > a {
  font-size: 1.125em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-links > li > a:hover {
  cursor: pointer;
}

.footer-app-desc {
  flex: 3;
}

.footer-app-desc > p {
  flex: 3;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #ffffff;
}

.session-container {
  width: 70%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-container > div {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.session-container > div > p {
  font-size: 1.125em;
  line-height: 1.5em;
  color: #333333;
  padding-top: 20px;
}

.session-container > a {
  font-size: 1.125em;
  text-decoration: none;
  color: $color-accent-1;
}

.session-container > a:hover {
  font-weight: 500;
}

.session-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 40px 0;
}

.session-form > input {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: auto;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 14px;
}

.session-form > button:last-of-type {
  background: $color-accent-3;
  border: $color-accent-3;
}

.session-form > button:last-of-type:hover {
  background: $color-accent-3-highlight;
  border: $color-accent-3-highlight;
}


input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.session-container > p.form-errors {
  color: $error-accent;
  font-size: 1.125em;
}

.hosting-nav-container {
  background: $color-accent-2;
}

.hosting-nav {
  justify-content: flex-start;
  height: 60px;
}

.hosting-nav-links {
  display: flex;
  align-items: center;
}

.hosting-nav-links > li {
  color: white;
}

.hosting-nav-links > li > a {
  color: inherit;
  font-size: 1.125em;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;

  padding: 14px 8px;
  border-radius: 3px;
}

.hosting-nav-links > li > a:hover,
.hosting-nav-links > li > a:focus,
.hosting-nav-links > li > a:active {
  background-color: #ffffff;
  color: $color-accent-1;
}

.hosting-nav-links > li:first-child {
  margin-right: 6px;
}

.hosting-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 38px;
}

.hosting-profile-container > h2 {
  align-self: flex-start;
}

.hosting-profile-container > button {
  align-self: flex-end;
  min-width: 25%;
}

.hosting-profile-about {
  width: 100%;
  line-height: 1.5em;
  padding: 20px 4px;
}

.hosting-profile-container > ul {
  width: 100%;
}

.panel {
  width: inherit;
  color: #444444;
  border: 2px solid $color-accent-2;
  border-radius: 3px;
  margin: 12px 0;
  cursor: pointer;
}

.panel-header {
  border-bottom: 2px solid $color-accent-2;
  background-color: $color-accent-2-light;
  padding: 12px 10px;
}

.panel-desc {
  padding: 12px 10px;
  line-height: normal;
}

.panel-form {
  background: transparent;
}

.panel-form textarea {
  border: 0;
  position: relative;
  background: inherit;
  width: calc(100% - 22px);
  outline: none;
  box-shadow: none;
  resize: none;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  padding: 12px 10px 0 10px;
}


.panel-input-border {
  border-bottom: 1px solid #444444;
  position: relative;
  left: 8px;
  width: calc(100% - 18px);
  margin-bottom: 8px;
}

.event-form-container {
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 38px;
}

.event-form-container > h2 {
  align-self: flex-start;
}

.event-form-container > button {
  align-self: flex-start;
  padding: 1em;
}

.event-form-info {
  padding-top: 22px;
  font-size: 1em;
  line-height: 1.25em;
  align-self: flex-start;
}

.event-form-date-time {
  align-self: flex-start;
  padding-top: 22px;
}

.event-form-container h3 {
  font-size: 1.5em;
  color: #333333;
  padding: 0 0 3px 3px;

}

.event-form-dt-input {
  display: flex;
}

.event-form-dt-input div.dropdown-container:first-of-type {
  width: 250px;
}
.event-form-dt-input div.dropdown-container:first-of-type > div.dropdown-display {
  border: 2px solid #dddddd;
  border-top-left-radius: 4px;
}
.event-form-dt-input div.dropdown-container:nth-of-type(2) {
  width: 100px;
}
.event-form-dt-input div.dropdown-container:nth-of-type(2) > div.dropdown-display {
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  border-right: none;
  border-left: none;
}
.event-form-dt-input > div:nth-of-type(3) {
  border: 2px solid #dddddd;
  background-color: #ffffff;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  border-top-right-radius: 4px;
}

.event-form-dt-input div.dropdown-container:nth-of-type(4) {
  width: 200px;
  margin-left: 15px;
}
.event-form-dt-input div.dropdown-container:nth-of-type(4) > div.dropdown-display {
  border: 2px solid #dddddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.event-form-location {
  width: 100%;
  padding-top: 22px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.event-form-location > input {
  height: 50px;
  font-size: 1.125em;
  width: 719px;
  border: 2px solid #dddddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-sizing: border-box;
  padding: 0 12px;
}

.event-form-description {
  padding-top: 22px;
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.event-form-description > textarea {
  height: 100px;
  box-sizing: border-box;
  font-size: 1.125em;
  width: 719px;
  padding: 12px;
  border: 2px solid #dddddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  resize: none;
  overflow: auto;
  outline: none;
}

.dashboard-nav-container {
  background: $color-accent-2;
}

.dashboard-nav {
  justify-content: flex-start;
  height: 60px;
}

.dashboard-nav-links {
  display: flex;
  align-items: center;
}

.dashboard-nav-links > li > a {
  color: white;
  font-size: 1.125em;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;

  padding: 14px 8px;
  border-radius: 3px;
}

.dashboard-nav-links > li > a:hover,
.dashboard-nav-links > li > a:focus,
.dashboard-nav-links > li > a:active {
  background-color: #ffffff;
  color: $color-accent-1;
}

.dashboard-nav-links > li:first-child {
  margin-right: 6px;
}

.selected-link {
  background-color: #ffffff;
  color: $color-accent-1 !important;
}


.dashboard-events {
  flex-direction: column;
}

.dashboard-events > ul {
  display: flex;
  flex-wrap: wrap;
}
