@import 'palette';
@import url('https://fonts.googleapis.com/css?family=Yellowtail|Work+Sans:400,500,600');

html, body {
  height: 100%;
}

#main {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

.wrapper h2 {
  font-size: 2em;
  font-weight: 600;
  color: $color-accent-1;
}

.wrapper h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ffffff;
}

.wrapper p {
  color: #333333;
}

.wrapper button {
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background: $color-accent-1;
  border: $color-accent-1;
  border-radius: 10px;
  padding: 1em 0;
  margin-top: 10px;
  cursor: pointer;
}

.wrapper button:hover {
  background: $color-accent-1-highlight;
  border: $color-accent-1-highlight;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.content-container {
  background: $background-accent;
  flex: 1;
}

header {
  width: 100%;
  height: auto;
  background-color: $primary-color;
  box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
}

.header-container {
  max-width: 1020px;
  height: 76px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  font-family: 'Yellowtail', cursive;
  text-transform: capitalize;
  font-size: 2.75em;
  color: #ffffff;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > svg {
  margin-right: 6px;
}

.header-nav-links {
  display: flex;
}

.header-nav-links > li {
  margin-right: 10px;
}

.header-nav-links > li:last-child {
  margin-right: 0;
}

.header-nav-links > li > * {
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 3px;
  padding: 14px;
}

.header-nav-links > li > *:hover,
.header-nav-links > li > *:focus {
  background-color: #ffffff;
  color: $color-accent-1;
}

.header-nav-links > li > .header-active-link {
  background-color: #ffffff;
  color: $color-accent-1;
}

.home-container {
  max-width: 100%;
}

.home-splash {
  max-width: 100%;
  min-height: calc(100vh - 76px);
  background-image: linear-gradient(to bottom, $color-accent-2, $color-accent-2-fade),url(http://res.cloudinary.com/dmmcusgxy/image/upload/c_scale,h_1350,q_auto:eco/v1484463683/threepeople-livingroom-dogs_rclc0m.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-splash > span {
  padding: 20px 0 40px 0;
}

.home-splash button {
  background: $color-accent-3;
  border: $color-accent-3;
  padding: 16px 32px;
}

.home-splash button:hover,
.home-splash button:focus,
.home-splash button:active {
  background: $color-accent-3-highlight;
  border: $color-accent-3-highlight;
}

.home-splash > span {
  font-size: 1.125em;
  color: #ffffff;
}

footer {
  width: 100%;
  height: auto;
  background: $primary-color;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 40px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-links > li {
  padding-bottom: 10px;
}

.footer-links > li:first-child {
  padding-top: 6px;
}

.footer-links > li:last-child {
  padding-bottom: 0;
}

.footer-links > li > a {
  font-size: 1.125em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-links > li > a:hover {
  cursor: pointer;
}

.footer-app-desc {
  flex: 3;
}

.footer-app-desc > p {
  flex: 3;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #ffffff;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.selected-link {
  background-color: #ffffff;
  color: $color-accent-1 !important;
}
