@import 'palette';

.cities-container {

  div {
    a {
      font-size: 1.5em;
      font-weight: 600;
      text-decoration: none;
      color: white;

      div {
        width: 300px;
        height: 250px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;


      }
    }
  }
}
