@import 'palette';

.content {
  background-color: $color-accent-3;
  color: #fff;
  position: relative;
  top: 126px;

  h2 {
    font-size: 28px;
    margin: 5% 0 5% 5%;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    background-color: aquamarine;
    width: calc(100% - 300px);
    left: 300px;
    top: 0;
  }
}
