.dashboard-events {
  flex-direction: column;
  align-items: center;
  padding: 38px;
  box-sizing: border-box;
}

.dashboard-events > h2 {
  align-self: flex-start;
}

.dashboard-events > ul {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  margin-top: 20px;
}

.dashboard-events > ul > li {
  margin: 0 8px 8px 8px;
}
