@import 'palette';

.event-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 460px;
  box-sizing: border-box;
  color: #444;
  border: 4px solid $color-accent-2-light;
  box-shadow: 1px 2px 2px 0px rgba(204,204,204,1);
  border-radius: 5px;
  padding: 8px;
  font-size: 1em;
}

.event-card > div:first-of-type {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
}


.event-card-weekday {
  font-size: 3em;
  font-weight: 600;
}

.event-card-date-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.25em;
  padding-left: 10px;
}


.event-card-location {
  font-size: 1.125em;
  text-transform: uppercase;
  height: 36px;
  padding: 6px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event-card-profile-image {
  width: 264px;
  height: 264px;
  background-position: center;
  background-size: cover;
  border: 3px solid #eee;
  box-shadow: 0px 1px 1px 0px rgba(204,204,204,.6);
  border-radius: 4px;
  margin-bottom: 6px;
}

.event-card-description {
  width: 262px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-card > button {
  padding: 8px 10px;
}

.no-event-button {
  height: 410px;
}
