@import 'palette';
@import url('https://fonts.googleapis.com/css?family=Pacifico|Work+Sans:400,500,600');


.header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 75px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(157,186,242,0.25);
    padding: 0 20px;
    color: #fff;
    background-color: #104da1;

    .header-left {
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
      }
      h1 {
        font-size: 35px;
        font-family: Pacifico, cursive;
        color: #104da1;

      }
      .single-stroke {
        position: relative;
        background: transparent;
        z-index: 0;

        &:before {
          content: attr(title);
          position: absolute;
          -webkit-text-stroke: 0.3em #fff;
          left: 0;
          z-index: -1;
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;
        a, img {
          margin-right: 10px;
        }

        a {
          text-decoration: none;
          &:visited, &:active, &:hover {
            color: inherit;
          }
        }

        .header-user-image {
          height: 60px;
          width: 60px;
          border-radius: 30px;
        }

        .header-signout {
          cursor: pointer;
          // &:hover {
          //   cursor: pointer;
          // }
        }

    }



}
