/* Coolors Exported Palette - coolors.co/068d9d-53599a-6d9dc5-e7f9f8-daf6f7 */

/* RGB */
$color1: rgba(6, 141, 157, 1);
$color2: rgba(83, 89, 154, 1);
$color3: rgba(109, 157, 197, 1);
$color4: rgba(231, 249, 248, 1);
$color5: rgba(218, 246, 247, 1);


$color2_1: rgba(83, 47, 157, 1);
