/* Coolors Exported Palette - coolors.co/068d9d-53599a-6d9dc5-e7f9f8-daf6f7 */

/* RGB */


$background-accent: rgba(255, 251, 248, 1);
$primary-accent: rgba(165, 56, 96, 1);
$secondary-accent: rgba(93, 87, 107, 1);
$secondary-accent-highlight: rgba(93, 75, 107, 1);
$error-accent: rgba(220, 20, 60, 1);
