/* Coolors Exported Palette - coolors.co/068d9d-53599a-6d9dc5-e7f9f8-daf6f7 */

/* RGB */

$primary-color: rgba(52, 74, 95, 1);
$primary-color-fade: rgba(52, 74, 95, .85);

$background-accent: rgba(255, 251, 248, 1);

$primary-accent-light: rgba(188, 111, 142, 1); // paradise pink

$color-accent-1: rgba(254, 144, 139, 1);
$color-accent-1-highlight: rgba(255, 124, 117, 1);
$color-accent-1-light: rgba(255, 174, 170, 1);

$color-accent-2: rgba(133, 214, 223, 1);
$color-accent-2-light: rgba(133, 214, 223, .4);
$color-accent-2-fade: rgba(133, 214, 223, .85);

$color-accent-3: rgba(255, 210, 122, 1);
$color-accent-3-highlight: rgba(255, 202, 96, 1);

$error-accent: rgba(220, 20, 60, 1);
