<!DOCTYPE html>
<html>
  <head>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscuit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOVrUNv-nM9v1tOEoP7Kf9PhhqTGyZ1MQ&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
